.column {
    padding-left: 35px;
    padding-bottom: 35px;
}

.nav-item {
    padding: 10px;
}

body {
    background-color: black;
}

.title, .subtitle, small {
    color: white;
}

.footer-custom {
    padding: 50px;
}

.footer-custom a, .footer-custom a:hover, footer-custom a:link, footer-custom a:visited, footer-custom a:active {
    color: red;
}

.title a, .title a:hover, .title a:link, .title a:visited, .title a:active {
    color: red;
}

small a, small a:hover, small a:link, small a:visited, small a:active {
    color: red;
}

.nav-content {
    padding-top: 10px;
}

.header-content {
    padding-top: 10px;
}

.header-content .title {
    color: red;
    font-family: 'Rock Salt', cursive;
    font-size: 3.5em;
}
